*{
    box-sizing: border-box;
}
:root{
    --background-color: white;
    --text-color: black;
    --elements-color: white;
}
main.dark, header.dark{
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%,22%);
}

main,header{
    background-color:var(--background-color);
    color: var(--text-color);
}
body{
    margin: 0;
    font-family: 'Nunito', sans-serif;

}
.title{
    font-weight: 800;
}

.header-container{
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
    padding: 0 24px;
    background-color: var(--elements-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.theme-changer{
    cursor: pointer;
}
main{
    padding: 24px;
    min-height: calc(100vh - 86px);
}

a{
    text-decoration: none;
    color: inherit;
}
.countries-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 64 px;
}

.country-card {
    display: inline-block;
    margin-top: 30px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
}

.country-card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
}

.country-card img{
    width: 100%;
}

.card-title{
    font-size: 24px;
    margin-block: 16px;
}

.card-text{
    padding-inline: 16px;
}

.card-text p{
    margin-block: 4px;
}

.search-filter-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.search-container{
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    padding-left: 24px;
    color: #999;
}

.search-container input{
    border: none;
    outline: none;
    padding: 12px;
    font-family: inherit;
    overflow: hidden;
    width: 90%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.search-container input::placeholder{
    color: #999;
}

.filter-by-region{
    width: 200px;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    color: #999;
    font-family: inherit;
    background-color: var(--elements-color);

}
@media (max-width:840px){
    .countries-container{
        justify-content: center;
    }
    .title{
        font-size: 20px;
    }
    .header-content p{
        font-size: 14px;
    }

    .search-filter-container{
        margin-left: 32px;
        flex-direction: column;
    }
}
